#lightbox{
    display: flex;
    flex-direction: column;
}

#lightbox > div{
    font-family: var(--tipo-principal);
    font-size: 100%;
    line-height: 1.4em;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .ul {
    width: 80%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    gap: 1em;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: white;
  }
  
  .ul .li {
    overflow: hidden;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1em;
  }
  
  .ul .img {
    height: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  
  .ul .li:hover .img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    pointer-events: none;
  }
  
  .lightbox.activo {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    pointer-events: auto;
  }
  
  .lightbox .cerrar {
    width: 5em;
    height: 3em;
    margin: 0 0 1em;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1em;
    border: 1px solid black;
    background-color: var(--blanco);
    cursor: pointer;
  }
  
  .lightbox .cerrar:hover {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--hover)
 }
  
  .lightbox .grande {
    width: 80%;

    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
 }
  
  
  #Puerto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 0;
  }
  
  #Oceano {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: calc(50% - 50px); 
  }
  
  #Isla {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 30%;
    right: 0;
  }
  
  @media (max-width: 670px) {
    .li{
      width: 100px;
      height: 100px;
    }
  }